@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

* {
	font-family: "Outfit", sans-serif;
	text-decoration: none;
}

.gradient-bg {
	background: linear-gradient(135deg, #181818 0%, #000f28aa 100%);
}
