@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

* {
	font-family: "Outfit", sans-serif;
	text-decoration: none;
}

.gradient-bg {
	background: linear-gradient(135deg, #181818 0%, #000f28aa 100%);
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.fade-in {
	opacity: 0;
	animation: 0.5s fadeIn;
	animation-fill-mode: forwards;
}